<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bsu.cs222.cnj.homebrewyo2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayRecipesMain" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".RecipesStylesActivity" />
        <activity android:name=".NameRecipeActivity" />
        <activity android:name=".StylesAles" />
        <activity android:name=".Dogma" />
        <activity android:name=".DogmaIngredients" />
        <activity android:name=".AmberAles" />
        <activity android:name=".Physics" />
        <activity android:name=".PhysicsIngredients" />
        <activity android:name=".IPAStyle" />
        <activity android:name=".Punk" />
        <activity android:name=".PunkIngredients" />
        <activity android:name=".Lagers" />
        <activity android:name=".Hoprocker" />
        <activity android:name=".HoprockerIngredients" />
        <activity android:name=".PeroxidePunk" />
        <activity android:name=".PeroxidePunkIngredients" />
        <activity android:name=".BrixtonPorter" />
        <activity android:name=".PaleAleStyles" />
        <activity android:name=".PorterStyles" />
        <activity android:name=".BrixtonPorterIngredients" />
        <activity android:name=".Stout" />
        <activity android:name=".Riptide" />
        <activity android:name=".RiptideIngredients" />
        <activity android:name=".CoffeeImperialStout" />
        <activity android:name=".CoffeeImperialIngredients" />
        <activity android:name=".BadPixie" />
        <activity android:name=".WheatBeer" />
        <activity android:name=".BadPixieIngredients" />
        <activity android:name=".Rabiator" />
        <activity android:name=".RabiatorIngredients"></activity>
    </application>

</manifest>
